<a href="https://colab.research.google.com/github/TLeahSpencer/DWPP_Analysis/blob/master/9_1_20WkshpLoops%26Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Office Hours workshop with Anade (Terrence Davis)
#Working with Loop & Lists in Python

Interger = Number

Float = Numbers with Decimals

String = Sequence of Characters (Words, letters, numbers, integers, floats, and etc.)

Object = All Characters (Strings and Objects have become synonymous)

List = A sequence of objects/strings...Example: me = ('Laya', 45, 'Alt') (Lists are Tuples by default unless you add Brackets)

Brackets = Make it a List [Means you can change values withing variable aka mutable]

###Tuple = Parenthesis (Means you cannot changel values within variable unless you recreate variable aka immutable)

###Regex = Regular expressions

Dictionary = Create key values (used heavily in NoSQL)

NoSQL = (Not Only Structured Query Languate) = Language used to work with unstructured data

NoSQL Softwares =  Mondodb, Cassandra, Redis, Amazon Dynamo DB

SQL = (Structured Query Language) = Language usted to work with structured data

SQL Softwares = PostreSQL, Microsoft SQL, MySQL, SQLite

Loops = perform a task over and over again

###Range Function = Outputs an ordered sequence as a list

In [ ]:
Laya=[33,55,25,20,18,13,2,6,6,51,67]

In [ ]:
#You noticed we can change the variable
#This is called a mutable function aka list
Laya

[33, 55, 25, 20, 18, 13, 2, 6, 6, 51, 67]

In [ ]:
#We want to change out 3rd position to the number 5
Laya [2] = 5

In [ ]:
Laya

[33, 55, 5, 20, 18, 13, 2, 6, 6, 51, 67]

In [ ]:
#Now change the 9th position to letter T
Laya [5] = "T"

In [ ]:
Laya

[33, 55, 5, 20, 18, 'T', 2, 6, 6, 51, 67]

In [ ]:
#Because we use PARENTHESES instead of BRACKETS, this is called
#an IMMUTABLE function aka a TUPLE
Laya2 = (21,4,24,6,4)

In [ ]:
Laya2

(21, 4, 24, 6, 4)

In [ ]:
#This cell will not run, because you cannot work with positions in a tuple
Laya2 [2] = 5

TypeError: ignored

In [ ]:
#define another variable money with a List [using brackets]
Money = ['Dollars','Gold Coins','Pesos','Columbian Pesos']

In [ ]:
Money

['Dollars', 'Gold Coins', 'Pesos', 'Columbian Pesos']

In [ ]:
#find out what type object Money is
type(Money)

list

In [ ]:
#the first data point in a list
#because indexing starts at 0, ex. 0,1,2 = 1st,2nd,3rd
Money[0]

'Dollars'

In [ ]:
#this indexing function will access the 3rd position in the list
Money[2]

'Pesos'

In [ ]:
#Code to replace a value in a list
Money[1]='Silver'

In [ ]:
Money

['Dollars', 'Silver', 'Pesos', 'Columbian Pesos']

In [ ]:
#the first number represents our starting point
#the second number in a slice will tell you what position to end at
#but the end position will not be included in the output
Money[0:2]

['Dollars', 'Silver']

In [ ]:
Money[0:3]

['Dollars', 'Silver', 'Pesos']

In [ ]:
#leaving off the end position will give you the remainder of the list
Money[1:]

['Silver', 'Pesos', 'Columbian Pesos']

In [ ]:
#leaving off the first position will give you all values BEFORE the ending position
Money[:3]

['Dollars', 'Silver', 'Pesos']

In [ ]:
Money

['Dollars', 'Silver', 'Pesos', 'Columbian Pesos']

In [ ]:
#this reverses your list
Money[::-1]

['Columbian Pesos', 'Pesos', 'Silver', 'Dollars']

In [ ]:
#but it doesn't make the change permanent
print(Money)

['Dollars', 'Silver', 'Pesos', 'Columbian Pesos']

In [ ]:
#it starts from 0 in Money dataframe
#It goes backwards and access the point at the -3 position
print(Money[0:-3])

['Dollars']

In [ ]:
#the curly brackets now make it a Set aka an Unordered List
Laya3 = {1,4,3,53,63,645,76,.91}

In [ ]:
#when you call the Set, it orders them for you in ascending order
#notice the Float is listed first, as it's value is less than 1
Laya3

{0.91, 1, 3, 4, 53, 63, 76, 645}

In [ ]:
#this is the range function
#as you see, it creates a range, starting at 0, with the number of values you select
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

In [ ]:
#what's the use case for this?
#quick math, quick calculations, quick ratios
#used by many Engineers, Developers and Coding Tests

#below we multiply all the numbers in the range by 6, individually
for x in range (9):
  print(x * 6)

0
6
12
18
24
30
36
42
48

In [ ]:
#now we create a range within a range
#this is similar to a slice, where the first number tells where the range starts
for x in range(1,6):
  print(x)

1
2
3
4
5

In [ ]:
#here is an example of how to get only 3 values in a range of 8 (0-7)
#remember 0 is the first position
for y in range(5,8):
  print(y)

5
6
7

In [ ]:
#now let's do some math between our range
#the 6 tells you what position to start
#the 49 tells you what position to end
#the 7 tells you how many positions to 'step' with each outcome
for x in range(6, 49, 7):
  print(x)

6
13
20
27
34
41
48

In [ ]:
#adding an else function
#note the b can be anything you want, it is totally a made up thing
for b in range(8):
  print(b)
else:
  print('Done!')

0
1
2
3
4
5
6
7
Done!

In [ ]:
#define the variable Playdate
Playdate = "Laya Plays All Days"

#define the variable x
x = 0

#create a LOOP that begins at the first position
#and ends when it reaches the last position
for i in Playdate:
  x=x+1
  print(Playdate[0:x])

L
La
Lay
Laya
Laya
Laya P
Laya Pl
Laya Pla
Laya Play
Laya Plays
Laya Plays
Laya Plays A
Laya Plays Al
Laya Plays All
Laya Plays All
Laya Plays All D
Laya Plays All Da
Laya Plays All Day
Laya Plays All Days

In [ ]:
#define another variable that will start the function at the 2nd position
y = 1

for i in Playdate:
  y = y + 1
  print(Playdate[1:y])

a
ay
aya
aya
aya P
aya Pl
aya Pla
aya Play
aya Plays
aya Plays
aya Plays A
aya Plays Al
aya Plays All
aya Plays All
aya Plays All D
aya Plays All Da
aya Plays All Day
aya Plays All Days
aya Plays All Days

In [ ]:
#note the number you assign the variable tells how many postions to start with
#the number you add in the loop function tells how many to add each time
y = 4

for i in Playdate:
  y = y + 4
  print(Playdate[1:y])

aya Pla
aya Plays A
aya Plays All D
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days
aya Plays All Days

In [ ]:
#example of a FOR LOOP an how to BREAK it
#first define the List
Pay = ['Silver','Gold','Platinum','Cash','Bitcoin']

In [ ]:
#then test the base of the loop function
for x in Pay:
  print(x)

Silver
Gold
Platinum
Cash
Bitcoin

In [ ]:
#now break the loop when it gets to 'Cash'
for x in Pay:
  print(x)
  if x == 'Cash':
      break

Silver
Gold
Platinum
Cash



*   if the x input is True the the Loop breaks immediately
    
  case use: Automated Survey
            when you answer a question with an answer they are not looking for, you cannot continue the survey... like when employers require a Bachelor's degree for a job applicant, and you don't lie about it, you can't get to the interview process :)

In [ ]:
#if you move the print() function to AFTER the break...
#the output will not include the 'breaking point' I totally just made up that term
#just another monkey with a typewriter 'not' quoting Shakespeare
for x in Pay:
  if x == 'Cash':
      break
  print(x)

Silver
Gold
Platinum

##While Loops are repeated as long as the expression is True.

**Conditional Statements**

Equals: x == y

Does Not Equal: x != y

Less Than: x < y

Less Than OR Equal To: x <= y

Greater Than: x > y

Greater Than OR Equal To: x >= y


**note**: most spaces in Python are irrelevant, 

they can be or not be, doesn't affect outputs

In [ ]:
#if payment doesn't equal cash we print it
for x in Pay:
  if x != 'Cash':
    print(x)

Silver
Gold
Platinum
Bitcoin